<!--***************************************!!!!!!!!!!중요(chat기능 들어가는 html에 추가 필요 detail.html 참고)!!!!!!!!!*******************************************
<th:block th:replace=/product/chat :: chat></th:block>
productId를 chat.html로 전달
<script th:inline="javascript">
    var productId = [[${product.productId}]];
    var memberName = [[${product.memberName}]];
</script>
**********************************************************************************-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="chat">
<head>
    <!--icon for chat _ font-awesome 에서 아이콘 가져옴-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- SockJS 라이브러리 로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <!-- Stomp 라이브러리 로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- chat.css 불러오기 -->
    <link rel="stylesheet" href="../css/chatForm.css">
    <!--chat.js와 pub.js 붙여넣기-->
    <script src="../js/chatForm.js"></script>
    <script src="../js/chat.js"></script>
</head>
<body>

<!-- 채팅 버튼(열기) -->
<button class="chatbox-open">
    <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
</button>
<!--닫기-->
<button class="chatbox-close">
    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
</button>

<!-- 팝업 창 -->
<section class="chatbox-popup">
    <!-- 팝업창 헤더 -->
    <header class="chatbox-popup__header">
        <aside style="flex:1">
            <!-- 채팅창 확대 -->
            <button class="chatbox-maximize"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
        </aside>
    </header> <!-- /팝업창 헤더 -->

    <!--채팅 내용 창 -->
    <main class="chatbox-popup__main" id="msgArea_pop"></main>
    <!-- 입력창 -->
    <footer class="chatbox-popup__footer">
        <!--( 10(입력창) : 1(아이콘) ) 비율로 조정-->
        <aside style="flex:10">
            <textarea type="text" class="message-box-popup" id="msg" placeholder="메세지를 입력하세요~!" autofocus></textarea>
        </aside>

        <!--비행기 모양 아이콘... 작동은 x submit 타입으로 변경...??1/2-->
        <aside style="flex:1;color:#888;text-align:center;">
            <button class="send-button-popup" id="btn-popup-ent">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </aside>
    </footer><!--/입력창 -->
</section><!--팝업창 끝 , 확대된 화면창 x -->

<!-- 확대화면 채팅창 -->
<section class="chatbox-panel">
    <header class="chatbox-panel__header">
        <aside style="flex:3;text-align:right;">
            <button class="chatbox-minimize"><i class="fa fa-window-restore" aria-hidden="true"></i></button>
            <button class="chatbox-panel-close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </aside>
    </header>
    <main class="chatbox-panel__main" id="msgArea_panel" style="flex:1">
    </main>
    <!--입력창-->
    <footer class="chatbox-panel__footer">
        <aside style="flex:10">
            <textarea type="text" class="message-box-panel" id="msg_panel" placeholder="메세지를 입력하세요~!"></textarea>
        </aside>

        <aside style="flex:1;color:#888;text-align:center;">
            <!--비행기 모양 아이콘... 일단 버튼 타입으로 변경해서 클래스 이름은 달아놈...??2/2-->
            <button id="btn-panel-ent">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </aside>
    </footer>
</section>

</body>
</th:block>
</html>

<!--
    추가로 처리필요한 부분
    1. 로그인 후 아이디 값 받아서 메시지에 띄워주는 memberName 값 변경 필요 -> 현재는 잘못 받아와서 등록한 유저이름이 뜬다
    2. 내가 쓴 메시지에 대한 구분이 필요 -> 사용자 구분이 우선되고 -> css파일 조정 할 필요 있음

-->