<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	  .card.hide {
    
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 99%);

  }
  .card .hide-date {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    z-index: 10000;
    color: #fff;
    opacity: 1;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .list-group-flush li {
      font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
</style>
<th:block th:replace="layout/header :: header"></th:block>
               <!--
    	 // product_auction 테이블의 상태 값은 상품 경매에 대한 상태 값이다
	    // pending - 경매 대기 (설정한 날짜에 미포함되어 경매가 대기 상태)
	    // inbid 경매 진행 (설정한 날짜에 포함되어 경매가 진행 중)
	    // confirm,경매 낙찰 (결제 / 미결제는 order table 값으로 확인)
	    // outbid - 경매 유찰 (별도문의)confirm -->

  <div class="container-xxl flex-grow-1 container-p-y">
<th:block th:with="all=0, pending=0, inbid=0, confirm=0">
    <!-- favorites 리스트를 순회하며 카운트 증가 
    <th:block th:each="favorite : ${favorites}">
        <th:block th:with="all=${all + 1}">
            <th:block th:if="${favorite.auctionStatus == 'PENDING'}" th:with="pending=${pending + 1}"></th:block>
            <th:block th:if="${favorite.auctionStatus == 'INBID'}" th:with="inbid=${inbid + 1}"></th:block>
            <th:block th:if="${favorite.auctionStatus == 'CONFIRM'}" th:with="confirm=${confirm + 1}"></th:block>
        </th:block>
    </th:block>
-->
			
                <!-- nav -->
              <div class="nav-align-top my-4 mx-06">
                <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                  <li class="nav-item">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-home" aria-controls="navs-pills-justified-home" aria-selected="false" style="border-radius: 10px 10px 0 0;">
                       전체  <span id="count-all" th:text="${all}"></span>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-profile-inbid" aria-controls="navs-pills-justified-profile" aria-selected="false" style="border-radius: 10px 10px 0 0;">
                      진행중  <span id="count-inbid" th:text="${inbid}"></span>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-pending" aria-controls="navs-pills-justified-messages" aria-selected="true" style="border-radius: 10px 10px 0 0;">
                       대기  <span id="count-pending"  th:text="${pending}"></span>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-confirm" aria-controls="navs-pills-justified-messages" aria-selected="true" style="border-radius: 10px 10px 0 0;">
                       종료  <span id="count-confirm" th:text="${confirm}"></span>
                    </button>
                  </li>
                </ul>  <!-- nav end-->
			<!--	</th:block>-->
                <!-- tab -->
                <div class="tab-content mt-4" style="border: none;box-shadow: none; padding:0;">
                  <div class="tab-pane fade active show" id="navs-pills-justified-home" role="tabpanel">
                  
		             <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
		                <th:block th:each="favorite : ${favorites}"> 
		                <div class="col" th:classappend="${favorite.productId}">
		             
		                <a >
		                  <div class="card h-90">
		                   <div style="position: relative;">
		                    <img class="card-img-top" th:src="|/product/image?filename=${favorite.productImage}|" alt="Card image cap" />
		                    <button  class="btn btn-dark btn-sm like-btn" data-bs-target="#favoriteModal" data-bs-toggle="modal"
		                    style="position: absolute;right: 1rem; top: 1rem; z-index:99999;" th:data-value="${favorite.auctionStatus}" th:value="${favorite.productId}">LIKE</button>
		                    <span th:if="${favorite.auctionStatus == 'PENDING' }" class="hide-date" th:data-value="${favorite.diffDate}">16:20:00</span>
		                    
		                    </div>
		                    <div class="card-body">
		                      <h5 class="card-title" th:text="${favorite.productName}">title</h5>
		                      <ul class="list-group list-group-flush">
		                      	<th:block th:if="${favorite.auctionStatus != 'OUTBID' and favorite.auctionStatus != 'CONFIRM'}">
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Current <span th:text="${favorite.currentPrice == '0'} ? '입찰자가 없습니다.' : ${favorite.currentPrice}"></span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Start <span th:text="${favorite.startDate}">2023-11-23 AM 09:00 </span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">End <span th:text="${favorite.endDate}" >2023-11-23 AM 09:00 </span></li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'CONFIRM' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;">경매 종료</li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'OUTBID' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;"> 별도 문의 </li>
		                      	</th:block>
		                      </ul>
		                    </div>
		                    <div th:if="${favorite.auctionStatus == 'PENDING' }" class="card h-90 hide">
		                      <!-- <span class="hide-date">16:20:00</span> -->
		                    </div>
		                  </div>
		                  </a>
		                </div>
		                </th:block>
		              </div>
                    
                  </div>
                  <div class="tab-pane fade" id="navs-pills-justified-profile-inbid" role="tabpanel">
		             <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
		                <th:block th:each="favorite : ${favorites}"> 
		                <th:block th:if="${favorite.auctionStatus == 'INBID'}">
		                <div class="col" th:classappend="${favorite.productId}">
		              	<a >
		                  <div class="card h-90">
		                   <div style="position: relative;">
		                    <img class="card-img-top" th:src="|/product/image?filename=${favorite.productImage}|" alt="Card image cap" />
		                    <button  class="btn btn-dark btn-sm like-btn" data-bs-target="#favoriteModal" data-bs-toggle="modal"
		                    style="position: absolute;right: 1rem; top: 1rem; z-index:99999;" th:data-value="${favorite.auctionStatus}" th:value="${favorite.productId}">LIKE</button>
		                    <span th:if="${favorite.auctionStatus == 'PENDING' }" class="hide-date" th:data-value="${favorite.diffDate}">16:20:00</span>
		                    
		                    </div>
		                    <div class="card-body">
		                      <h5 class="card-title" th:text="${favorite.productName}">title</h5>
		                      <ul class="list-group list-group-flush">
		                      	<th:block th:if="${favorite.auctionStatus != 'OUTBID' and favorite.auctionStatus != 'CONFIRM'}">
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Current  <span th:text="${favorite.currentPrice == '0'} ? '입찰자가 없습니다.' : ${favorite.currentPrice}"></span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Start  <span th:text="${favorite.startDate}">2023-11-23 AM 09:00 </span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">End  <span th:text="${favorite.endDate}" >2023-11-23 AM 09:00 </span></li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'CONFIRM' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;">경매 종료</li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'OUTBID' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;"> 별도 문의 </li>
		                      	</th:block>
		                      </ul>
		                    </div>
		                    <div th:if="${favorite.auctionStatus == 'PENDING' }" class="card h-90 hide">
		                      <!-- <span class="hide-date">16:20:00</span> -->
		                    </div>
		                  </div>
		                  </a>
		                </div>
		                </th:block>
		                </th:block>
		              </div>
                  </div>

                  <div class="tab-pane fade show" id="navs-pills-justified-pending" role="tabpanel">
 						<div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
		                <th:block th:each="favorite : ${favorites}"> 
		                <th:block th:if="${favorite.auctionStatus == 'PENDING'}">
		                <div class="col" th:classappend="${favorite.productId}">
		                 <a  >
		                  <div class="card h-90">
		                   <div style="position: relative;">
		                    <img class="card-img-top" th:src="|/product/image?filename=${favorite.productImage}|" alt="Card image cap" />
		                    <button  class="btn btn-dark btn-sm like-btn" data-bs-target="#favoriteModal" data-bs-toggle="modal"
		                    style="position: absolute;right: 1rem; top: 1rem; z-index:99999;" th:data-value="${favorite.auctionStatus}" th:value="${favorite.productId}">LIKE</button>
		                    <span th:if="${favorite.auctionStatus == 'PENDING' }" class="hide-date" th:data-value="${favorite.diffDate}">16:20:00</span>
		                    
		                    </div>
		                    <div class="card-body">
		                      <h5 class="card-title" th:text="${favorite.productName}">title</h5>
		                      <ul class="list-group list-group-flush">
		                      	<th:block th:if="${favorite.auctionStatus != 'OUTBID' and favorite.auctionStatus != 'CONFIRM'}">
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Current  <span th:text="${favorite.currentPrice == '0'} ? '입찰자가 없습니다.' : ${favorite.currentPrice}"></span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Start  <span th:text="${favorite.startDate}">2023-11-23 AM 09:00 </span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">End  <span th:text="${favorite.endDate}" >2023-11-23 AM 09:00 </span></li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'CONFIRM' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;">경매 종료</li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'OUTBID' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;"> 별도 문의 </li>
		                      	</th:block>
		                      </ul>
		                    </div>
		                    <div th:if="${favorite.auctionStatus == 'PENDING' }" class="card h-90 hide">
		                      <!-- <span class="hide-date">16:20:00</span> -->
		                    </div>
		                  </div>
		                  </a>
		                </div>
		                </th:block>
		                </th:block>
		              </div>

                  </div>

                  <div class="tab-pane fade show" id="navs-pills-justified-confirm" role="tabpanel">
 						<div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
		                <th:block th:each="favorite : ${favorites}"> 
		                <th:block th:if="${favorite.auctionStatus == 'CONFIRM'}">
		                <div class="col" th:classappend="${favorite.productId}">
		                 <a>
		                  <div class="card h-90">
		                   <div style="position: relative;">
		                    <img class="card-img-top" th:src="|/product/image?filename=${favorite.productImage}|" alt="Card image cap" />
		                    <button  class="btn btn-dark btn-sm like-btn" data-bs-target="#favoriteModal" data-bs-toggle="modal"
		                    style="position: absolute;right: 1rem; top: 1rem; z-index:99999;" th:data-value="${favorite.auctionStatus}" th:value="${favorite.productId}">LIKE</button>
		                    <span th:if="${favorite.auctionStatus == 'PENDING' }" class="hide-date" th:data-value="${favorite.diffDate}">16:20:00</span>
		                    
		                    </div>
		                    <div class="card-body">
		                      <h5 class="card-title" th:text="${favorite.productName}">title</h5>
		                      <ul class="list-group list-group-flush">
		                      	<th:block th:if="${favorite.auctionStatus != 'OUTBID' and favorite.auctionStatus != 'CONFIRM'}">
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Current <span th:text="${favorite.currentPrice == '0'} ? '입찰자가 없습니다.' : ${favorite.currentPrice}"></span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">Start  <span th:text="${favorite.startDate}">2023-11-23 AM 09:00 </span></li>
		                        <li class="list-group-item p-1" style="font-size: 0.8rem;">End  <span th:text="${favorite.endDate}" >2023-11-23 AM 09:00 </span></li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'CONFIRM' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;">경매 종료</li>
		                      	</th:block>
		                      	<th:block th:if="${favorite.auctionStatus == 'OUTBID' }">
		                        <li class="list-group-item p-1" style="font-size: 1rem;"> 별도 문의 </li>
		                      	</th:block>
		                      </ul>
		                    </div>
		                    <div th:if="${favorite.auctionStatus == 'PENDING' }" class="card h-90 hide">
		                      <!-- <span class="hide-date">16:20:00</span> -->
		                    </div>
		                  </div>
		                  </a>
		                </div>
		                </th:block>
		                </th:block>
		              </div>
                  </div>
                </div>
                <!-- tab end-->
              </div>
              
              
 
        
        <div class="modal fade" 
              id="favoriteModal"
              aria-labelledby="favoriteModal"
              tabindex="-1"
              style="display: none; z-index: 99999999;"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalToggleLabel">INFO</h5>
                  </div>
                  <div class="modal-body">관심 상품이 삭제되었습니다.</div>
                  <div class="modal-footer">
                    <button
                      class="btn btn-dark btn-sm" 
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                     닫기
                    </button>
                  </div>
                </div>
              </div>
            </div>

<script type="text/javascript" src="/js/request.js"></script>
<script th:inline="javascript" defer>



	window.onload = function () {
        
    const likeBtns = document.querySelectorAll('.like-btn');
    likeBtns.forEach(l => l.addEventListener("click", updateFavorite));
    
    function updateFavorite() {
    	const productId = this.value;
    	console.log(productId);
        request.remove("/favorite/", productId, reRenderFavorites(this, "관심 상품이 삭제 되었습니다."), errorMsg());
      
    }
    
    const countAll = document.getElementById("count-all");
    const countInbid = document.getElementById("count-inbid");
    const countPend = document.getElementById("count-pending");
    const countCof = document.getElementById("count-confirm");

    function reRenderFavorites(element, successMsg) {
        //const colElement = element.closest('.col');
        const auctionStatus = element.getAttribute('data-value');
        const pid = element.value;
        const allContent = parseInt(countAll.textContent, 10);
        const inbidContent = parseInt(countInbid.textContent, 10);
        const pendContent = parseInt(countPend.textContent, 10);
        const cofContent = parseInt(countCof.textContent, 10);
        
        if(auctionStatus == 'OUTBID') {
        	countAll.innerText = allContent-1;
        }
        
        if(auctionStatus == 'PENDING') {
        	countAll.innerText = allContent-1;
        	countPend.innerText = pendContent-1;
        }
        if(auctionStatus == 'INBID') {
        	countAll.innerText = allContent-1;
        	countInbid.innerText = inbidContent-1;
        }
        if(auctionStatus == 'CONFIRM') {
        	countAll.innerText = allContent-1;
        	countCof.innerText = cofContent-1;
        }
        
        /*
        if (colElement) {
            colElement.remove();
        }
        */
        
        const colElements = document.querySelectorAll('.col');

        colElements.forEach((colElement) => {
          const classes = colElement.classList;
          if (classes.contains(pid)) {
            colElement.remove();
          }
        });
        
    }
    
    
    
    function errorMsg(e) {
    	console.log(e);
    }
    
    <!--
	 // product_auction 테이블의 상태 값은 상품 경매에 대한 상태 값이다
   // pending - 경매 대기 (설정한 날짜에 미포함되어 경매가 대기 상태)
   // inbid 경매 진행 (설정한 날짜에 포함되어 경매가 진행 중)
   // confirm,경매 낙찰 (결제 / 미결제는 order table 값으로 확인)
   // outbid - 경매 유찰 (별도문의)confirm -->
    let favorites = [[${ favorites }]];
    


    let all = 0;
    let inbid = 0;
    let confirm = 0;
    let pending = 0;

    for (const favorite of favorites) {
        all++;
        if (favorite.auctionStatus === 'INBID') {
            inbid++;
        } else if (favorite.auctionStatus === 'CONFIRM') {
            confirm++;
        } else if (favorite.auctionStatus === 'PENDING') {
            pending++;
        }

    }

    countAll.textContent = all;
    countInbid.textContent = inbid;
    countPend.textContent = pending;
    countCof.textContent = confirm;    


    const hideDate = document.querySelectorAll('.hide-date');

    function updateCountdown(target) {
        let timeDifferenceMillis = parseInt(target.getAttribute('data-value'), 10);

        if (timeDifferenceMillis <= 0) {
            console.log("카운트 완료");
			// hide 오픈 메소드 추가 필요
            
        } else {
            const days = Math.floor(timeDifferenceMillis / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifferenceMillis % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifferenceMillis % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeDifferenceMillis % (1000 * 60)) / 1000);

            let countdownText = "";
            if (days > 0) {
                countdownText += 'D-' + days + ' ';
            }else {
                countdownText += (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
            }

            target.innerText = countdownText;
            
            timeDifferenceMillis -= 1000;
            target.setAttribute('data-value', timeDifferenceMillis);
            
            setTimeout(() => updateCountdown(target), 1000); 
        }
    }

    hideDate.forEach(element => {
        updateCountdown(element);
    });

}
	
</script>



<th:block th:replace="/layout/footer :: footer"></th:block>