<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
 h1, h2, h3, h4, h5, h6{
    color: #233446;
  }
</style>
<th:block th:replace="layout/header :: header"></th:block>
    
	<div class="container-xxl flex-grow-1 container-p-y">
      <div class="card m-4 mt-4">
           <div class="card-body">
             <div class="d-flex align-items-start gap-3">
             <div class="d-flex align-items-start flex-column gap-3">
               <img  th:if="${member.image != null}"  th:data-value="${member.imageId}" th:src="|/member/image?filename=${member.image}|" alt="user-avatar" class="d-block rounded" height="110" width="110" id="memberImage" style="
               background: #fff; box-shadow: 0 0.125rem 0.25rem 0 rgba(35, 52, 70, 0.4);">
               <img  th:if="${member.image == null}"  th:src="@{/image/user/default.png}" alt="user-avatar" class="d-block rounded" height="110" width="110" id="memberImage" style="
               background: #fff; box-shadow: 0 0.125rem 0.25rem 0 rgba(35, 52, 70, 0.4);">
               <div class="button-wrapper">
                 <label for="upload" class="btn btn-dark me-2 btn-sm" tabindex="0" style="margin-left: 5px;">
                   <span class="d-none d-sm-block" >이미지 업로드</span>
                   <i class="bx bx-upload d-block d-sm-none"></i>
                   <input type="file" id="upload" name="filename" class="" hidden="" >
                 </label>
               </div>
             </div>
             <div class="d-flex align-items-start flex-column ms-5 mt-5">
                 <h4 class="fw-bold" th:text="${member.memberName}"></h4>
                 <h5 class="fw-bold" th:text="${member.email}"></h5>
             </div>
           </div>              
         </div>
       </div>
       <h4 class="fw-bold py-3 m-4 mt-5 ">경매 내역</h4>
       <div class="card m-4 mt-4 w-90">
         <div class="card-body py-4">
           <div class="input-group h-100 ">
             <span class="input-group-text d-flex flex-column align-items-center justify-content-center" style="width: calc(100%/3); border:none">
               <a href="#"><h6 class="fw-bold" >결제 요청</h6><h6 class="fw-bold m-0">0</h6></a>
             </span>
             <span class="input-group-text d-flex flex-column " style="width: calc(100%/3);border-top: none;border-bottom: none; ">
               <a href="#"><h6 class="fw-bold" >경매 진행 중</h6><h6 class="fw-bold m-0">0</h6></a>
             </span>
             <span class="input-group-text d-flex flex-column " style="width: calc(100%/3); border-top: none;border-right: none;border-bottom: none;">
               <a href="#"><h6 class="fw-bold">경매 종료</h6><h6 class="fw-bold m-0">0</h6></a>
             </span>
           </div>
         </div>
       </div>

       <h4 class="fw-bold py-3 m-4 mt-5 ">판매 내역</h4>
       <div class="card m-4 mb-5 mt-4 w-90">
         <div class="card-body py-4">
           <div class="input-group h-100">
             <span class="input-group-text d-flex flex-column mt-3" style="width: calc(100%/3); border:none">
               <a href="#"><h6 class="fw-bold card-title" >경매 대기</h6><h6 class="fw-bold m-0" th:text="${member.pendingCount}">0</h6></a>
             </span>
             <span class="input-group-text d-flex flex-column mt-3" style="width: calc(100%/3);border-top: none;border-bottom: none; ">
               <a href="#"><h6 class="fw-bold card-title" >경매 진행 중</h6><h6 class="fw-bold m-0" th:text="${member.inBidCount}">0</h6></a>
             </span>
             <span class="input-group-text d-flex flex-column mt-3" style="width: calc(100%/3); border-top: none;border-right: none;border-bottom: none;">
               <a href="#"><h6 class="fw-bold card-title">경매 종료</h6><h6 class="fw-bold m-0" th:text="${member.endCount}">0</h6></a>
             </span>
           </div>
         </div>
       </div>
	</div>
	<script type="text/javascript" src="/js/request.js"></script>
	<script type="text/javascript">
		const fileElement = document.getElementById("upload");
		const imgElement = document.getElementById("memberImage");
		fileElement.addEventListener("change", (event) => {
		const selectedFile = event.target.files[0];
		const preImage = {};
		const imageId = imgElement.getAttribute('data-value');
		
		
	    if (selectedFile != null) {
	        const formData = new FormData();
	        formData.append("uploadImage", selectedFile);
	    	 $.ajax({
	             type: "POST",
	             url: "/member/image",
	             processData: false,
	             contentType: false,
	             data: formData,
	             success: function(result) {

	            	 imgElement.setAttribute('src', '/member/image?filename=' + encodeURIComponent(result.path + "\\" +result.identifier + result.name));
	            	 imgElement.setAttribute('data-value', result.imageId);
	            	 if(imageId != null) {
	            		 request.remove("/member/image/", imageId, function(msg){console.log(msg)}, function(msg){console.log(msg)});
	            	 }
	            	 
	            	 console.log(result);
	             },
	             error: function(err) {
	                 console.log("err: ", err);
	             }
	         });
	    	
	    }

	    
	});
	
	</script>
	
	
	
	
<th:block th:replace="/layout/footer :: footer"></th:block>