<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header :: header"></th:block>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>

    <meta charset="UTF-8">
    <title>Title</title>
<style>
    .sectionStyle{
        padding: 24px;
    }

</style>
<body>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-2">결제 확인</h4>
    <!-- Layout Demo -->
    <div>
        <div class="card mb-4 w-auto">
            <div class="card-body w-auto">
                <div>
                    <div>
                        <section class="sectionStyle">
                            <div><h4 class="fw-bold py-2 mb-2">상품 정보</h4></div>
                            <div style="float:left; margin-right: 20px">
<!--                                <div th:each="image : ${bidResult.getProduct().getProductImages()}">
                                <img th:src="'/product/' + ${bidResult.getProduct().getProductId()} + '/image?filename='
                                 + ${bidResult.getProduct().getProductImages().get(0).getPath() + '/'
                                  + bidResult.getProduct().getProductImages().get(0).getIdentifier()
                                  + bidResult.getProduct().getProductImages().get(0).getName()}" alt="art" style="width: auto; height: 150px">
                             </div>-->
  <img th:src="'/product/' + ${bidResult.getProduct().getProductId()} + '/image?filename=' + ${image}" alt="art" style="width: auto; height: 150px">
                            </div>
                            <div style="float:left">
                                <h5 th:text="'상품명 : ' + ${bidResult.getProduct().getName()}"></h5><br/>
                            </div>
                            <div style="clear:both"></div>
                        </section>
                        <hr/>
                        <section class="sectionStyle" th:if="${activeAddress != null}" >
                            <div class="d-flex justify-content-between mb-2" >
                                <h4 class="fw-bold py-2">배송 주소</h4>

                                <button
                                        type="button"
                                        class="btn btn-sm btn-outline-dark"
                                        data-bs-toggle="modal"
                                        data-bs-target="#updateModal"
                                        style="max-height: 30px"
                                >
                                    + 주소 변경
                                </button>
                            </div>
                            <div class="list-group">
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">받는 분</label>
                                    <span class="col-sm" th:text="${activeAddress.getName()}"></span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">연락처</label>
                                    <span class="col-sm"
                                         th:text="${activeAddress.getPhone()}">
                                        <button type="button" class="btn btn-sm btn-outline-primary">변경</button>
                                    </span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">배송 주소</label>
                                    <span class="col-sm" th:text="${activeAddress.getRegion()}"></span>
                                </div>

                            </div>
                        </section>
                        <section class="sectionStyle" th:if="${activeAddress == null}">
                            <div class="d-flex justify-content-between mb-2">
                                <h4 class="fw-bold py-2">배송 주소</h4>

                                <button
                                        type="button"
                                        class="btn btn-sm btn-outline-dark"
                                        data-bs-toggle="modal"
                                        data-bs-target="#basicModal"
                                        style="max-height: 30px"
                                >
                                    + 주소 추가
                                </button>
                            </div>
                            <div class="list-group">
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">받는 분</label>
                                    <span class="col-sm-2 d-flex" th:text="${activeAddress.getName()}"></span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">연락처</label>
                                    <span class="col-sm d-flex"
                                         th:text="${activeAddress.getPhone()}">
                                        <button type="button" class="btn btn-sm btn-outline-primary">변경</button>
                                    </span>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-sm-2 col-form-label">배송 주소</label>
                                    <span class="col-sm-2 d-flex" th:text="${activeAddress.getRegion()}"></span>
                                </div>

                            </div>

                        </section>
                        <hr/>
                            <div id="payment-method"></div>
                            <div id="agreement"></div>


                        <!-- modal 영역 -->
                        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                            <!-- Modal -->
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel1">새 주소 추가</h5>
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <form th:action="@{/addr/addrList}" method="post">
                                        <div class="modal-body">
                                            <label class="form-label">이름</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="수령인의 이름" aria-label="Username" id="name" name="name">
                                            </div>
                                            <label class="form-label">휴대폰 번호</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="- 없이 입력" aria-label="Phone" id="phone" name="phone">
                                            </div>
                                            <label class="form-label">우편 번호</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="우편번호를 검색하세요" aria-label="ZipCode" id="zipCode" name="zipCode" readonly="readonly">
                                                <button type="button" class="btn btn-sm btn-outline-dark"
                                                        onclick= DaumPostcode()>우편번호</button>
                                            </div>
                                            <label class="form-label">주소</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="우편 번호 검색 후, 자동입력 됩니다." aria-label="Addr" id="region" name="region" readonly="readonly">

                                            </div>
                                            <label class="form-label">상세 주소</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="건물, 아파트 동/호수 입력" aria-label="Description" id="detail" name="detail">
                                            </div>
                                            <div class="mb-3" style="margin-top: 5px">`
                                                <input class="form-check-input" type="checkbox" id="addrCheckbox" name="addrCheckbox"/>
                                                <span style="margin-left: 5px">기본 배송지로 설정</span>
                                            </div>
                                            <div class="d-flex justify-content-center" style="margin-top: 10px">
                                                <button type="submit" class="btn btn-dark"
                                                        style="margin:2px" id="address_submit"
                                                >저장하기
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary"
                                                        style="margin: 2px"
                                                        data-bs-dismiss="modal">
                                                    취소
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
                            <!-- Modal -->
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel2">주소 변경</h5>
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <form id="mod-modal" th:action="@{/addr/update}" method="post">
                                        <input type="hidden" class="address-id-input" name="addressId" value=""/>
                                        <div class="modal-body">
                                            <label class="form-label">이름</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="수령인의 이름" aria-label="Username" id="name2" name="name">
                                            </div>
                                            <label class="form-label">휴대폰 번호</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="- 없이 입력" aria-label="Phone" id="phone2" name="phone">
                                            </div>
                                            <label class="form-label">우편 번호</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="우편번호를 검색하세요" aria-label="ZipCode" id="zipCode2" name="zipCode" readonly="readonly">
                                                <button type="button" class="btn btn-sm btn-outline-primary"
                                                        onclick= DaumPostcode()>우편번호</button>
                                            </div>
                                            <label class="form-label">주소</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="우편 번호 검색 후, 자동입력 됩니다." aria-label="Addr" id="region2" name="region" readonly="readonly">

                                            </div>
                                            <label class="form-label">상세 주소</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="건물, 아파트 동/호수 입력" aria-label="Description" id="detail2" name="detail">
                                            </div>
                                            <div class="mb-3" style="margin-top: 5px">`
                                                <input class="form-check-input" type="checkbox" id="addrCheckbox2" name="addrCheckbox" checked/>
                                                <span style="margin-left: 5px">기본 배송지로 설정</span>
                                            </div>
                                            <div class="d-flex justify-content-center" style="margin-top: 10px">
                                                <input type="hidden"/>
                                                <button type="submit" class="btn btn-primary"
                                                        style="margin:2px" id="address_submit2"
                                                >저장하기
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary"
                                                        style="margin: 2px"
                                                        data-bs-dismiss="modal">
                                                    취소
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div style="text-align: center;">
                        <button id="payment-button" style="display: inline-block" type="button" class="btn btn-dark">결제하기</button>
                        <button type="button" style="display: inline-block" class="btn btn-outline-dark" th:onclick="|location.href='@{/mypage/list}'|">목록으로
                        </button>
                        </div>
                    </div>


                        <!-- 다른 필드들을 추가하세요 (히든 필드 또는 인풋 필드 등) -->

                </div>

    <script th:inline="javascript">

        function DaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipCode').value = data.zonecode;
                    document.getElementById('zipCode2').value = data.zonecode;
                    document.getElementById("region").value = addr + extraAddr;
                    document.getElementById("region2").value = addr + extraAddr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detail").focus();
                    document.getElementById("detail2").focus();
                }
            }).open();
        }

        const clientKey = "test_ck_GjLJoQ1aVZJ1l5g7YYAVw6KYe2RN"
        const customerKey = "K3_S2iqNhRpaWvz0p6jkY" // 내 상점에서 고객을 구분하기 위해 발급한 고객의 고유 ID
        const button = document.getElementById("payment-button")
        const orderId = [[${orderId}]];
        const orderName = [[${bidResult.getProduct().getName()}]]
        const customerName = [[${bidResult.getMember().getName()}]]
        const amount = [[${bidResult.getBidPrice()}]]

        // ------  결제위젯 초기화 ------
        // 비회원 결제에는 customerKey 대신 ANONYMOUS를 사용하세요.
        const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
        // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

        // ------  결제위젯 렌더링 ------
        // 결제수단 UI를 렌더링할 위치를 지정합니다. `#payment-method`와 같은 CSS 선택자와 결제 금액 객체를 추가하세요.
        // DOM이 생성된 이후에 렌더링 메서드를 호출하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
        paymentWidget.renderPaymentMethods(
            "#payment-method",
            { value: amount },
            { variantKey: "DEFAULT" } // 렌더링하고 싶은 결제 UI의 variantKey
        )

        // ------  이용약관 렌더링 ------
        // 이용약관 UI를 렌더링할 위치를 지정합니다. `#agreement`와 같은 CSS 선택자를 추가하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
        paymentWidget.renderAgreement('#agreement')

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
        button.addEventListener("click", function () {
            paymentWidget.requestPayment({
                orderId: orderId,            // 주문 ID(직접 만들어주세요)
                orderName: orderName,        // 주문명
                successUrl: 'http://localhost:8080/mypage/success',  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
                failUrl: 'http://localhost:8080/pay/fail',        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
                customerName: customerName
            })
        })

    </script>


    </div>
<th:block th:replace="/layout/footer :: footer"></th:block>
</html>