<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<th:block th:replace="layout/header :: header"></th:block>

<meta charset="UTF-8">
<title>Title</title>

<body>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-2"></h4>
    <!-- Layout Demo -->
    <div>
        <div class="card mb-4 w-auto">
            <div class="card-body w-auto">

    <div class="d-flex mb-3">
        <h4 class="fw-bold">주소록</h4>
        <button
                type="button"
                class="btn btn-sm btn-outline-dark"
                style="max-height: 30px; margin-left: auto"
                data-bs-toggle="modal"
                data-bs-target="#basicModal"
        >
            + 새 주소 추가
        </button>

    </div>
        <!-- 주소 입력되면 보이는 영역(기본 배송지) -->
    <div th:each="address : ${addressInfo}">
        <div class="d-flex justify-content-between">
            <th:block th:if="${address.status.toString() == 'ACTIVE'}">
            <div>
                <span style="font-weight: bold" th:text="이름 +' : '+ ${address.name}"></span>
                <span class="badge rounded-pill bg-warning">기본배송지!</span>
                <br/>
                <span th:text="HP +' : '+ ${address.phone}"></span>
                <br/>
                <span th:text="주소 +' : '+ '(' + ${address.zipCode} + ')' + ${address.region} + ' ' + ${address.detail}"></span>
            </div>
            <div style="margin-top: auto; margin-bottom: auto">
                <form  th:action="@{/addr/delete}" method="post">
                <span>
                <input type="hidden" name="addressId" th:value="${address.addressId}"/>
                <button class="btn btn-sm btn-outline-dark float-end mod-btn"
                        style="margin: 2px"
                        type="button"

                        data-bs-toggle="modal"
                        data-bs-target="#updateModal"
                        th:value="${address.addressId}">수정</button>
                </span>
                </form>
                <br/>
            </div>
            </th:block>
        </div>
    </div>
    <hr style="height: 2px"/>
        <!-- 주소 입력되면 보이는 영역(기본 배송지 X) -->
    <div th:each="address : ${addressInfo}" class="">
        <div th:if="${address.status.toString() == 'DISABLED'}" class="d-flex justify-content-between">
          <!--   <th:block th:if="${address.status.toString() == 'DISABLED'}">--> 
            	
                <div>
                    <span style="font-weight: bold" th:text="이름 +' : '+ ${address.name}"></span>
                    <br/>
                    <span th:text="HP +' : '+ ${address.phone}"></span>
                    <br/>
                    <span th:text="주소 +' : '+ '(' + ${address.zipCode} + ')' + ${address.region} + ' ' + ${address.detail}"></span>
                </div>
                <div style="margin-top: auto; margin-bottom: auto">
                    <form class="deleteForm" th:action="@{/addr/delete}" method="post">
                    <span>
                    <input type="hidden" name="addressId" th:value="${address.addressId}"/>
                    <button class="btn btn-sm btn-outline-dark float-end deleteBtn"
                            style="margin: 2px"
                            type="submit" th:data-value="${address.addressId}">삭제</button>

                    <button class="btn btn-sm btn-outline-dark float-end mod-btn"
                            style="margin: 2px"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#updateModal"
                            th:value="${address.addressId}">수정</button>
                    </span>
                    </form>
                    <br/>
                </div>
         <!--   </th:block> --> 
        </div>
        <hr th:if="${address.status.toString() == 'DISABLED'}"/>
    </div>
                <!--     modal 영역 - 새 주소 등록         -->
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <!-- Modal -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel1">새 주소 추가</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <form th:action="@{/addr/addrList}" method="post">
                <div class="modal-body">
                    <label class="form-label">이름</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="수령인의 이름" aria-label="Username" id="name" name="name">
                    </div>
                    <label class="form-label">휴대폰 번호</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="- 없이 입력" aria-label="Phone" id="phone" name="phone">
                    </div>
                    <label class="form-label">우편 번호</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="우편번호를 검색하세요" aria-label="ZipCode" id="zipCode" name="zipCode" readonly="readonly">
                        <button type="button" class="btn btn-sm btn-outline-dark"
                        onclick= DaumPostcode()>우편번호</button>
                    </div>
                    <label class="form-label">주소</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="우편 번호 검색 후, 자동입력 됩니다." aria-label="Addr" id="region" name="region" readonly="readonly">

                    </div>
                    <label class="form-label">상세 주소</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="건물, 아파트 동/호수 입력" aria-label="Description" id="detail" name="detail">
                    </div>
                    <div class="mb-3" style="margin-top: 5px">`
                        <input class="form-check-input" type="checkbox" id="addrCheckbox" name="addrCheckbox"/>
                        <span style="margin-left: 5px">기본 배송지로 설정</span>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 10px">
                        <button type="submit" class="btn btn-dark"
                                style="margin:2px" id="address_submit"
                                >저장하기
                        </button>
                        <button type="button" class="btn btn-outline-secondary"
                                style="margin: 2px"
                                data-bs-dismiss="modal">
                            취소
                        </button>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
                <!--     modal 영역 - 주소 수정         -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
                    <!-- Modal -->
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel2">주소 변경</h5>
                                <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                ></button>
                            </div>
                            <form id="mod-modal" th:action="@{/addr/update}" method="post">
                                <input type="hidden" class="address-id-input" name="addressId" value=""/>
                                <div class="modal-body">
                                    <label class="form-label">이름</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="수령인의 이름" aria-label="Username" id="name2" name="name">
                                    </div>
                                    <label class="form-label">휴대폰 번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="- 없이 입력" aria-label="Phone" id="phone2" name="phone">
                                    </div>
                                    <label class="form-label">우편 번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="우편번호를 검색하세요" aria-label="ZipCode" id="zipCode2" name="zipCode" readonly="readonly">
                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                                onclick= DaumPostcode()>우편번호</button>
                                    </div>
                                    <label class="form-label">주소</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="우편 번호 검색 후, 자동입력 됩니다." aria-label="Addr" id="region2" name="region" readonly="readonly">

                                    </div>
                                    <label class="form-label">상세 주소</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="건물, 아파트 동/호수 입력" aria-label="Description" id="detail2" name="detail">
                                    </div>
                                    <div class="mb-3" style="margin-top: 5px">`
                                        <input class="form-check-input" type="checkbox" id="addrCheckbox2" name="addrCheckbox" checked/>
                                        <span style="margin-left: 5px">기본 배송지로 설정</span>
                                    </div>
                                    <div class="d-flex justify-content-center" style="margin-top: 10px">
                                        <input type="hidden"/>
                                        <button type="submit" class="btn btn-primary"
                                                style="margin:2px" id="address_submit2"
                                        >저장하기
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                style="margin: 2px"
                                                data-bs-dismiss="modal">
                                            취소
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
            </div>

<script th:inline="javascript">
    // 다음 주소 API
    function DaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                let addr = ''; // 주소 변수
                let extraAddr = ''; // 참고항목 변수
                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipCode').value = data.zonecode;
                document.getElementById('zipCode2').value = data.zonecode;
                document.getElementById("region").value = addr + extraAddr;
                document.getElementById("region2").value = addr + extraAddr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detail").focus();
                document.getElementById("detail2").focus();
            }
        }).open();
    }

    // 모달 버튼 클릭 시 addressId 값 전송 >> update
    const modBtns= document.querySelectorAll(".mod-btn");
    modBtns.forEach(m => m.addEventListener("click", function() {
        console.log(this);
        console.log(this.value);
        var addressId = $(this).val();
        $(".address-id-input").val(addressId);
    }));



 	/*

    const deleteBtns= document.querySelectorAll(".deleteBtn");
    deleteBtns.forEach(d => d.addEventListener("click", function() {
   
     	let addressId = parseInt(d.getAttribute('data-value'), 10);
     	 window.location.href = '/addr/delete?addressId=' + addressId;
     	 
     	 console.log(d);
     	const formElement = d.closest('.deleteForm');
     	console.log(formElement);
     	formElement.submit();

        
    }));

    */

</script>

<th:block th:replace="/layout/footer :: footer"></th:block>
</html>