<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 부분을 불러옵니다. -->
<th:block th:insert="fragments/header :: header"></th:block>

<div class="container edit">
    <div class="content sm">
        <div class="edit_area">
            <h2 class="edit_title">회원 정보 수정</h2>
            <form th:action="@{/members/{id}/edit}" method="post" id="edit-form" class="has_button">
                <div class="input_box">
                    <h3 class="input_title">이메일 주소</h3>
                    <div class="input_item">
                        <input type="email" name="email" value="${member.email}" readonly class="input_txt">
                    </div>
                </div>

                <div class="input_box">
                    <h3 class="input_title">이름</h3>
                    <div class="input_item">
                        <input type="text" name="name" th:value="${member.name}" readonly class="input_txt">
                    </div>
                </div>

                <div class="input_box">
                    <h3 class="input_title">핸드폰 번호</h3>
                    <div class="input_item">
                        <input type="tel" name="phone" th:value="${member.phone}" placeholder="핸드폰 번호를 입력하세요" class="input_txt">
                        <button type="button" id="verify-phone" class="btn" onclick="verifyPhoneNumber()">번호 인증</button>
                    </div>
                </div>

                <div class="edit_btn_box">
                    <button type="submit" class="btn full solid">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 푸터 부분을 불러옵니다. -->
<th:block th:insert="fragments/footer :: footer"></th:block>

</html>
