<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>

</style>
<body>


<div class="container">
    <form action="/sample/enum" method="post" th:object="${product}">
    
	<select th:field="*{status}">
	    <option th:each="status : ${T(com.noname.enums.ProductStatus).values()}"
	            th:value="${status}" th:text="${status.title}"></option>
	</select>


    <button id="post" type="submit">submit</button>
    </form>
</div>
    <script>

    const deleteBtn = document.getElementById('deleteBtn');


        deleteBtn.addEventListener('click', deleteSession);


    function deleteSession() {

    $.ajax({
            url: '/sample/session',
            type: 'DELETE',
            success: function(data) {
                console.log(data);
             },
            error: function(error) {
                console.error('AJAX Error:', error);
            }
        });
        }
    </script>


</body>
</html>
