:root {
  --base-height: 377px;
  --base-dimension: 16px;
  --base-border-radius: 12px;
  --base-button-size: 52px;
  --base-button-color: #000;
  --primary-color: #000;
  --accent-color: #fff;
  --background-color: #fff;
  --font-color: #888;
}

.chatbox-container {
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
}

.chatbox-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  color: var(--background-color);
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-around;
}

.chatbox-main,
.chatbox-popup__main {
  box-sizing: border-box;
  width: 100%;
  padding: calc(2 * var(--base-dimension)) var(--base-dimension);
  line-height: calc(var(--base-dimension) + var(--base-dimension) / 2);
  color: var(--font-color);
  text-align: left;
  max-height: 200px; /* 스크롤 가능한 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤이 필요한 경우에만 스크롤 표시 */
}

.chatbox-footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
}

.chatbox-floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--base-button-size);
  height: var(--base-button-size);
  color: var(--base-button-color);
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--accent-color);
}

h1 {
  margin: 0;
  font-size: var(--base-dimension);
  line-height: 1;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}

button.chatbox-open,
button.chatbox-close {
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--base-button-size);
  height: var(--base-button-size);
  color: var(--base-button-color);
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: var(--base-dimension);
}

button.chatbox-close {
  display: none;
  margin: var(--base-dimension) calc(2 * var(--base-dimension) + var(--base-button-size))
         var(--base-dimension) var(--base-dimension);
}

textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: calc(var(--base-dimension) + var(--base-dimension) / 2);
  padding: 0 calc(var(--base-dimension) / 2);
  font-family: inherit;
  font-size: var(--base-dimension);
  line-height: calc(var(--base-dimension) + var(--base-dimension) / 2);
  color: var(--font-color);
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow: hidden;
}

.chatbox-popup {
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  bottom: calc(2 * var(--base-dimension) + var(--base-button-size));
  right: var(--base-dimension);
  width: var(--base-height);
  height: auto;
  background-color: var(--background-color);
  border-radius: var(--base-dimension);
}

.chatbox-popup__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  color: var(--background-color);
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: var(--base-border-radius);
  border-top-left-radius: var(--base-border-radius);
}

.chatbox-popup__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: var(--base-border-radius);
  border-bottom-left-radius: var(--base-border-radius);
}

.chatbox-panel {
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--base-height);
  background-color: var(--background-color);
}

.chatbox-panel__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  color: var(--background-color);
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
}

.chatbox-panel__main {
  box-sizing: border-box;
  width: 100%;
  padding: calc(2 * var(--base-dimension)) var(--base-dimension);
  line-height: calc(var(--base-dimension) + var(--base-dimension) / 2);
  color: var(--font-color);
  text-align: left;
  flex: 1 1 auto;
  overflow-y: auto; /* 세로 스크롤이 필요한 경우에만 스크롤 표시 */
}

.chatbox-panel__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--base-dimension);
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
}

.chat-messages{
    padding: 1px;
    margin: 3px;
}