
#dataContainer {
    padding: 100px;
    position: relative;
}

.gallery-sort {
    display: flex;
    justify-content: end;
}

.sort-btn {
    font-weight: 600;
    color: #e0e0e0;
    margin-left: 1.2rem;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
}

.sort-btn:hover {
    color: #000;
    border-bottom: solid 2px #000;
}

.sort-btn.active {
    color: #000;
    border-bottom: solid 2px #000;
}

.modal-content {
    max-width: 1200px;
    height: 70vh;
}

.modal-split {
    height: 100%;
}

.modal-left > img{
    border-radius: 10px 0 0 10px;
}

.close,
#closeModalBtn{
    font-size: 30px;
    right: 13px;
    top: 6px;
}

#replyListDiv{
    height: 80%;
    border: 1px solid #566a7f;
    overflow-y: auto;
    border-radius: 5px;
}

@media (max-width: 1400px){
    #dataContainer {
        padding: 150px;
    }
}

@media (max-width: 900px) {
    #dataContainer {
        padding: 40px;
    }
}
